<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
  <!-- <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
  <script type="module">
   import { alertController } from 'https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/index.esm.js';
    window.alertController = alertController;
  </script>
  <script>
    const button = document.querySelector('.alert');
    button.addEventListener('click', handleButtonClick);
    async function handleButtonClick() {
      console.log('inside an alert function')
      const alert = await alertController.create({
        header: 'Use this lightsaber?',
        message: 'Do you agree to use this lightsaber to do good across the galaxy?',
        buttons: ['Disagree', 'Agree']
      });
  await alert.present();
    }
  </script> -->
</head>
<ion-header style="
height: 40px;
background-color: #3c5469;
">
<ion-navbar class="navbar">
    <ion-title>
      <ion-icon name="notifications-outline" style="font-size: 30px;
    margin-top: 5px;
    color: white;
    ">
      </ion-icon>
      <div class="ion-text-right">
        <img src="../../assets/pexels-photo-69432.jpeg" style="height: 46px;width:70px;margin-top:-30px;">
      </div>
    </ion-title>
  </ion-navbar> 
 </ion-header>
 <!-- <ion-scroll scrollY="true">
</ion-scroll> -->

<ion-content overflow-scroll="true">
  <div class="container">
 <h1 class="ion-text-center" style="  text-decoration: underline;color:#3c5469 ; font-weight: bold;">Malfunction Report</h1>
 <Text  class="ion-text-left" style="margin-left:1em;">
   Sunday Date. 26/3/2019
 </Text>
 <ion-alert-controller></ion-alert-controller>
 <ion-item>
  <ion-avatar slot="start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <ion-label>
    <h2>Technician: Imran Barnawi</h2>
    <div style="width:80%;float:left;">
    <p>Maintenance Technician</p>
      </div>
      <div style="margin-right: 12em;">
        <ionic5-star-rating #rating
        activeIcon = "star"
        defaultIcon = "ios-star-outline"
        activeColor = "yellow" 
        defaultColor = "#f4f4f4"
        readonly="false"
        rating="3"
        fontSize = "15px"
        
        (ratingChanged)="logRatingChange($event)"
        
        >
    </ionic5-star-rating>
      </div>
 </ion-label>
</ion-item>
<div>
<h2 class="ion-text-left" style="margin-left:0.6em;color:#3c5469 ;font-weight: bold;">Malfunctions</h2>
<br />
<div style="flex-direction: row; ">
<Text  class="ion-text-left" style="margin-left:1em;">
  The Door Does Not Close &nbsp; &nbsp;&nbsp;&nbsp; <ion-fab-button size="small" class="ion-text-right" style="margin-left: 21em; margin-top: -2.2em;--background:#7b0006"></ion-fab-button>
 </Text>
</div>
 <hr>
<Text  class="ion-text-left" style="margin-left:1em;">
  Too Loud in the Elevator &nbsp; &nbsp;&nbsp;&nbsp; <ion-fab-button size="small" class="ion-text-right" style="margin-left: 21em; margin-top: -1.3em;--background:#ee7330"></ion-fab-button>

</Text>
<hr class="hr"/>
<Text  class="ion-text-left" style="margin-left:1em;">
  The Lights are not Working &nbsp; &nbsp;&nbsp;&nbsp; <ion-fab-button size="small" class="ion-text-right" style="margin-left: 21em; margin-top: -1.3em;--background:#fac00f"></ion-fab-button>

</Text>
<hr class="hr"/>     
</div>
<!-- <br /> -->
<h2 class="ion-text-left" style="margin-left:0.6em;color:#3c5469 ;font-weight: bold;">Fault Level</h2>
<Text  class="ion-text-left" style="margin-left:1em;">
 Very Dangerous &nbsp; &nbsp;&nbsp;&nbsp; <ion-fab-button size="small" class="ion-text-right" style="margin-left: 21em; margin-top: -2.5em;--background:#7b0006"></ion-fab-button><br>
</Text>
<Text  class="ion-text-left" style="margin-left:0.3em;color: red;">
 * This malfunction is considered very serious and
</Text>
<hr class="hr"/>
<!-- <br> -->
<div>
  <h2 class="ion-text-left" style="margin-left:0.6em;color:#3c5469 ;font-weight: bold;">Bill</h2>
  <!-- <br /> -->
  <Text  class="ion-text-left" style="margin-left:1em;">
    Door Card<text class="ion-text-right" style="font-size:0.8em;color: #8b8b8b;float: right;margin-right: 1em;">1200 riyals</text>
   </Text>
   <hr>
  <Text  class="ion-text-left" style="margin-left:1em;">
    Gallon<text class="ion-text-right" style="font-size:0.8em;color: #8b8b8b;float: right;margin-right: 1em;">300 riyals</text>
  </Text>
  <hr class="hr"/>
  <Text  class="ion-text-left" style="margin-left:1em;">
    Door Fork<text class="ion-text-right" style="font-size:0.8em;color: #8b8b8b;float: right;margin-right: 1em;"> riyals</text>
 </Text>
  <hr class="hr"/>
  <Text  class="ion-text-left" style="margin-left:1em;">
    Lights<text class="ion-text-right" style="font-size:0.8em;color: #8b8b8b;float: right;margin-right: 1em;">Complimentry</text>
 </Text>
  <hr class="hr"/>
  <Text  class="ion-text-left" style="margin-left:1em;color: #610c14;font-weight: bold;">
    Total<text class="ion-text-right" style="font-size:0.8em;color: #610c14;float: right;;margin-right: 1em;">1550 including TA</text>
  </Text>     
  </div>
  <br>
  <div class="container">
    <div class="vertical-center">
  <ion-button color="light" expand="block"style="width: 270px;margin-left:3em;" (click)="presentAlertParts()">I Will Provide parts</ion-button>
</div>
</div>
<h2 class="ion-text-left" style="margin-left:0.6em;color:#3c5469 ;font-weight: bold;">Payment Status<text style="font-size:0.6em;color: #8b8b8b;float: right;margin-right: 1em;">Not Paid</text></h2>
<hr class="hr"/>
<h2 class="ion-text-left" style="margin-left:0.6em;color:#3c5469 ;font-weight: bold;">Payment Method</h2>
<div class="container">
  <div class="vertical-center">
<ion-button  color="light" expand="block"style="width: 270px;margin-left:3em;color:#3c5469" (click)="presentAlertPayment()">Credit Card</ion-button>
</div>
</div>
<br>
<hr class="hr"/>
<br>
<div class="container">
  <div class="vertical-center">
<ion-button expand="block"style="width: 270px;margin-left:3em; --background:#7b0006">Provided</ion-button>
</div>
</div>
<br>
<br>
<br>
</div>
</ion-content>
<!-- <ion-button expand="block" class="parts-button" (click)="presentAlertRadio()">Show Alert</ion-button> -->



